# Logs
logs
*.log

# OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea

# Root level dependencies (if using concurrently)
node_modules
package-lock.json